<%- include("./layouts/mainHeader.ejs") %>

<style>
    body{
        background-color: rgb(252, 207, 136);
    } 
    a{
        text-decoration: none;
        font-weight: bold;
        font-size: large;
    }
    a:hover{
        color: rgb(76, 7, 116);
    }
</style>
<a href="/"><img src="/images/logo.png" alt="logo" width="150px"></a>
<h4 class="mt-5">Edit Your Bio</h4>

    <h4 style="color: red;">
        <%= locals.errorMessage %>
    </h4>
    <h4 style="color: green;">
        <%= locals.message %>
    </h4>
    <form method="post" class="mt-5">
        <input type="text" autocomplete="off" name="bio" class="form-control" placeholder="Your Bio" maxlength="122" autofocus style="border: none; outline: none;">
        <div class="text-center">
            <progress id="prog" style="width: 50%; height: 40px; display: none;"></progress>
        </div>
        <button type="submit" onclick="progress()" class="form-control btn btn-primary mt-3 mb-5">Change Bio</button>
    </form>

<a href="/profile/<%= locals.id  %>" class="btn btn-success mt-5">Go back to profile</a>
<a href="/settings" class="btn btn-warning mt-5">Go back to settings</a>



    <%- include("./layouts/mainFooter.ejs") %>

    <script>
        const prog = document.getElementById("prog");
        function progress() {
            prog.style.removeProperty("display")
        }
    </script>