<%- include("./layouts/mainHeader.ejs") %>

    <div class="d-flex bd-highlight sticky-top">
        <div class="flex-fill bd-highlight ms-2 mt-1">
            <a href="javascript:history.back()" style="font-size: 30px; text-decoration: none;">
                <i class="fas fa-angle-left"></i> </a>
        </div>
        <div class="flex-fill bd-highlight ms-2 mt-1">
            <h4>Comments</h4>
        </div>
    </div>
    <hr>

    <div style="display: flex; flex-direction: column;">

        <% for(var i=0;i<locals.users.length;i++){ %>

            <div class="row">
                <div class="col-4">
                    <h5>
                        <%= locals.users[i] %>
                    </h5>
                </div>
                <div class="col-7">
                    <p>
                        <%= locals.commentText[i] %>
                    </p>
                </div>
                <% if (locals.myUser===locals.postUser ) { %>

                    <div class="col-1">
                        <form action="/comment/deletecomment" method="POST">
                            <input type="hidden" name="id" value="<%= locals.postId  %>">
                            <input type="hidden" name="commentText" value="<%= locals.commentText[i] %>">
                            <input type="hidden" name="user" value="<%= locals.users[i] %>">
                            <button type="submit" style="outline: none; border:none; background-color: #fff;"><i
                                    class="fas fa-trash" style="color:red;"></i></button>
                        </form>
                    </div>

                    <% } %>
            </div>

            <% } %>


    </div>


    <%- include("./layouts/mainFooter.ejs") %>