<%- include("./layouts/proHeader.ejs") %>

    <div class="d-flex bd-highlight">
        <div class="flex-fill bd-highlight ms-1 mt-1">
            <a href="/profile/<%= locals.id  %>" class="btn btn-danger ms-1">Profile</a>
        </div>
        <!-- <div class="flex-fill bd-highlight ms-1 mt-1">
            <form action="/home/search" method="POST">
                <input type="search" name="search" id="search" placeholder="search user">
                <input type="submit" value="search">
            </form>

        </div> -->
        <div class="flex-fill bd-highlight mt-1">
            <a href="/createpost" class="btn btn-danger"><i class="fas fa-plus-square"></i></a>
        </div>
        <div class="bd-highlight mt-1 me-1">
            <a href="/settings" class="btn btn-primary"><i class="fas fa-user-cog setting"></i></a>
        </div>
    </div>


    <div class="flex">

        <% locals.posts.forEach(post=> { %>
            <% if(post._id!==undefined){ %>
                <div class="container post">
                    <div style="display: flex;">
                        <form action="/profile/<%= post.postedBy._id  %>" method="POST">
                            <input type="submit" name="username" value="<%= post.postedBy.username %>"
                                style="border: none; background-color: white; font-weight: bolder; font-size: larger;">
                        </form>

                        <a href="#" class=" btn-sm btn-primary ms-2 mb-1" style="text-decoration: none;">Follow</a>
                    </div>
                    <div id="carouselExampleSlidesOnly" class="carousel slide justify-content-center"
                        data-bs-ride="carousel">
                        <div class="carousel-item active">
                            <img src="<%= post.photo  %>" draggable="false" class="d-block w-100" alt="post">
                        </div>
                    </div>
                    <p class="mt-3">#<span>
                            <%= post.caption %>
                        </span></p>
                </div>
                <div class="d-flex bd-highlight">
                    <div class="flex-fill bd-highlight icon">
                        <i class="far fa-heart"></i> <span>20</span>
                    </div>
                    <div class="flex-fill bd-highlight icon">
                        <i class="fas fa-comments"></i><span>2</span>
                    </div>
                    <div class="flex-fill bd-highlight icon">
                        <a href="<%= post.photo  %>" download="<%= post.postedBy.username %>" target="_blank"><i
                                class="fas fa-download"></i></a>
                    </div>
                </div>
    </div>
    <hr>
    <% } %>

        <% }) %>


            <%- include("./layouts/proFooter.ejs") %>